/* MAIN SETTING
========================================================================= */
.gc-inline {display: inline;}
body {
	width: 100%;
	height: 100%;
	font: 12px/18px Arial, sans-serif;
	background: #1a1c23 url('../images/main-bg.jpg');
	/*color: #6c6e70;*/
	color: #ffdd00;
	min-width: 980px;
}

.flag{
	padding-left:0px;
	padding-top:0px;
}
.flag img{
	position:relative;
	left:0px;
	top:-55px;
}

.flag2{
	padding-left:0px;
	padding-top:0px;
}
.flag2 img{
	position:relative;
	left:0px;
	top:-55px;
}


.main-bg {
	background: url('../images/main-bg-2.jpg') no-repeat 50% 0;
}
a {
	color: #6c6e70;
	text-decoration: none;
	cursor: pointer;
}
.main {
	width: 980px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.extra-wrap {
	display: block;
	overflow: hidden;
}
h2 {
	font: bold 33px/40px Arial, sans-serif;
	color: #fff;
}
strong {
	font: normal 17px/23px Arial, sans-serif;
	color:#0976f6;
}
	strong a {
		font: normal 17px/23px Arial, sans-serif;
		color:#0976f6;
	}
		strong a:hover {
			color:#fff;
		}
.fl-l {float: left;}
.fl-r {float: right;}

/* IDENT's
========================================================================= */
.ident-bot-1 {margin-bottom: 18px;}
.ident-bot-2 {margin-bottom: 10px;}
.ident-bot-3 {margin-bottom: 28px;}
.ident-bot-4 {margin-bottom: 7px;}
.ident-bot-5 {margin-bottom: 13px;}
.ident-bot-6 {margin-bottom: 14px;}
.ident-bot-7 {margin-bottom: 11px;}
.ident-bot-7-Red {
	margin-bottom: 11px;
	color: #ff0000;
	}
.ident-bot-8 {margin-bottom: 17px;}
.ident-bot-9 {margin-bottom: 12px;}
.ident-bot-10 {margin-bottom: 15px;}
.ident-bot-11 {margin-bottom: 20px;}
.ident-bot-12 {margin-bottom: 9px;}
.ident-bot-13 {margin-bottom: 23px;}
.ident-bot-14 {margin-bottom: 19px;}
.ident-bot-15 {margin-bottom: 24px;}
.ident-bot-16 {margin-bottom: 52px;}
.ident-bot-17 {margin-bottom: 25px;}
.ident-bot-18 {margin-bottom: 38px;}
.ident-bot-19 {margin-bottom: 37px;}
.ident-bot-20 {margin-bottom: 8px;}
.ident-bot-21 {margin-bottom: 21px;}
.ident-bot-22 {margin-bottom: 1px;}
.ident-bot-23 {margin-bottom: 22px;}
.ident-bot-24 {margin-bottom: 41px;}
.ident-bot-25 {margin-bottom: 26px;}
.ident-bot-26 {margin-bottom: 4px;}
.ident-bot-27 {margin-bottom: 60px;}

.ident-top-1 {margin-top: 5px;}
.ident-top-2 {margin-top: 4px;}
.ident-top-3 {margin-top: 1px;}

.ident-left-1 {margin-left: 30px;}

.ident-right-1 {margin-right: 20px;}
.ident-right-2 {margin-right: 14px;}

.inner-ident-1{padding-top: 29px;}
.inner-ident-2{padding-top: 11px;}
.inner-ident-3{padding-right: 30px;}
.inner-ident-4{padding-right: 12px;}

/* HEADER
========================================================================= */
h1 a {
	display: block;
	text-indent: -999em;
	width: 450px;
	height: 140px;
	background: url('../images/car.png') no-repeat;
	float:left;
}

/* CONTENT
========================================================================= */
#content {padding: 29px 0 40px 0; background: #000 url('../images/content-bg.jpg') no-repeat 0 100%; border-top: 1px dotted #31333a; border-bottom: 1px dotted #31333a;}
.button {
	display:inline-block;
	color:#fff;
	font: 15px/26px 'Arial Black', sans-serif;
	background: #073f7a url('../images/button-bg.jpg') repeat-x;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing:-1px;
	-webkit-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	-moz-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
}
	.button:hover {
		background: #0b65c3 url('../images/button-bg-hover.jpg') repeat-x;
	}
.font-1 {
	font: 12px/23px Arial, sans-serif;
	color:#0063f8;
	/*color:#0e5bb8;*/
}
.font-2 {
	font: 19px/23px Arial, sans-serif;
	color:#fff;
}
.list-1 li {
	float:left;
	margin-left: 8px;
}
#easyTooltip {
	padding: 2px 5px;
	background: #fff;
	color: #6c6e70;
	font: 12px Arial, sans-serif;
	text-transform: none;
	position: absolute;
	z-index: 100;
	border: 1px solid #6c6e70;
}
.banners {margin-bottom:20px;}
.banners div {float:left;}

.list-2 li {
	line-height: 18px;
	padding-left: 12px;
	background: url('../images/list-marker-1.png') no-repeat 0 7px;
}
	.list-2 li a {
		color: #fff;
		font: bold 12px/18px Arial, sans-serif;
	}
		.list-2 li a:hover {
			text-decoration:underline;
		}
.list-3 li {
	line-height: 30px;
	padding-left: 12px;
	background: url('../images/list-marker-1.png') no-repeat 0 12px;
}
	.list-3 li a {
		color: #fff;
		font: bold 12px/30px Arial, sans-serif;
	}
		.list-3 li a:hover {
			text-decoration:underline;
		}
.link-1 {
	font: bold 12px/18px Arial, sans-serif;
	color:#fff;
}
	.link-1:hover {
		text-decoration:underline;
	}
.link-2 {
	font-weight:bold;
	color:#0976f6;
}
	.link-2:hover {
		color:#fff;
	}
.link-3 {
	color:#6c6e70;
}
	.link-3:hover {
		color:#fff;
	}
.img-border {
	border: 6px solid #303032;
}
.dates {
	font: 12px/19px Arial, sans-serif;
	color:#fff;
	/*background: #05305d;*/
	background: #075cdb;
	display:inline-block;
	padding: 0 5px;
}
.dates-2 {
	font: 12px/19px Arial, sans-serif;
	color:#fff;
	background: #075cdb;
	display:inline-block;
	width: 40px;
	text-align:center;
}
.block-1 {
	width: 60px;
	background: #073e79 url('../images/blcok-1-bg.jpg') repeat-x;
	font: 15px/16px 'Arial Black', sans-serif;
	color:#fff;
	text-align:center;
	padding: 12px 0;
	-webkit-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	-moz-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
}
.block-2 {
	width: 105px;
	background: #073e79 url('../images/blcok-1-bg.jpg') repeat-x;
	font: 15px/16px 'Arial Black', sans-serif;
	color:#fff;
	text-align:center;
	padding: 12px 0;
	-webkit-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	-moz-box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
	box-shadow: 1px 1px 2px rgba(11,97,176,1) inset;
}
.column-1 {
	width: 234px;
	margin-left: 44px;
}
.price {
	font: bold 15px/18px Arial, sans-serif;
	color:#fff;
}
/* PRETTY PHOTO
========================================================================= */
/* Lightbox image */
.lightbox-image {
	position:relative;
	overflow:hidden;
	display:inline-block;
	}
	.lightbox-image img {
		position:relative;
		z-index:2;
		}
	#page1 .lightbox-image img {float:left;}
	.lightbox-image span {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background: #aacce1 url(../images/magnify.png) no-repeat 50% 50%;
		z-index:1;
		}
/* TM-SLIDER
========================================================================= */
.slider-holder {
	position:relative;
	overflow: hidden;
	width: 980px;
	height: 434px;
}
.slider {
	width: 980px;
	height: 434 px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	background: #000;
}
.pagination {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -137px;
	z-index: 60;
	width: 274px;
	height: 29px;
	overflow: hidden;
	background: url('../images/pagination-bg.png') no-repeat;
}
	.pagination li {
		float:left;
		margin-left: 8px;
		margin-top:11px;
	}
	.pagination li:first-child {
		float:left;
		margin-left: 97px;
	}
		.pagination a {
			width: 10px;
			height: 10px;
			display: block;
			background: url('../images/pagination.png') no-repeat 0 0;
		}
.pagination li.current a, .pagination  a:hover {
	background: url('../images/pagination.png') no-repeat 0 -10px;
}
/* SLIDER (Cycle plugin)
========================================================================= */
.slide-holder {
	width: 700px;
	height: 890px;
	position: relative;
}
.slide-holder2 {
	width: 700px;
	height: 1190px;
	position: relative;
}
#nav {
	z-index: 10;
	overflow: hidden;
	display:inline-block;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 3px;
}
	#nav a {
		float:left;
		color: #6c6e70;
		margin-right: 14px;
	}
		#nav a:hover, #nav a.activeSlide {
			color:#fff;
		}
#prev {
	
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
}
#next {
	
	z-index: 10;
	cursor: pointer;
}
.cycle-button {
	text-align: center;
}
/* FORM
========================================================================= */
dl {
	display: block;
	width: 175px;
}
dd span {
	float: right;
}
dl strong {
	display: block;
}

iframe {
	width: 348px;
	height: 234px;
}
#confirm {
	position: relative;
	height: auto;
	padding-bottom: 30px;
}
#confirm  label {
	display: block;
	position: relative;
	min-height: 45px;
	width: 285px;
}
#confirm  label.message {
	min-height: 263px;
}
#confirm input {
	display: block;
	margin: 0;
	outline: none;
	box-shadow: none !important;
	width: 279px;
	height: 30px;
	border: 1px solid #3d3d3d;
	background: #121212;
	color: #6c6e70;
	font: 12px/19px Arial, sans-serif;
	padding: 0 10px;
}
#confirm textarea {
	display: block;
	margin: 0;
	padding: 5px 10px;
	outline: none;
	box-shadow: none !important;
	font: 12px/18px Arial, sans-serif;
	color: #6c6e70;
	border: 1px solid #3d3d3d;
	background: #121212;
	width: 518px;
	height: 240px;
	resize: none;
	overflow: auto;
}
#confirm label > span {
	color: #fff;
	position:relative;
	left: 12px;
}
#confirm .success {
	color:#0976f6;
	display:none;
}
#confirm  .empty, #confirm  .error {
	font: 11px/17px Arial, sans-serif;
	display:none;
}
#confirm .btns {
	position: absolute;
	right: 0;
}
#confirm .btns a {
	margin-left: 11px;
}


/* FOOTER
========================================================================= */
footer {
	padding: 12px 0 30px 0;
}
.policy {
	font: 12px/18px Arial, sans-serif;
	color: #fff;
}
.policy a {
	color: #0976f6;
	display:inline-block;
	margin-left: 15px;
}
.policy a:hover {
	color:#fff;
}


/* NAVIGATION
========================================================================= */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: -1px;
	top: 50px; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
nav {
	position:relative;
	background: url('../images/menu-bg.png');
	height: 50px;
}
.sf-menu > li  {
	background: url('../images/menu-border.png') no-repeat 100% 1px;
	border-right: 1px solid #030404;
}
.sf-menu > li > a {
	font: bold 15px/50px Arial, sans-serif;
	color: #e1e0e0;
	padding: 0 19px 0 19px;
}
.sf-menu > li + li + li > a {
	padding: 0 18px 0 19px;
}
.sf-menu > li > a:hover, .sf-menu > li.active > a, .sf-menu > li.sfHover > a {
	color:#0175fe;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 244px;
	padding: 0;
	background: #222223;
}
.sf-menu li li{
	border-bottom: 1px solid #000;
}
.sf-menu li li:first-child{
	background:none;
}
.sf-menu li li a {
	font: 12px/26px Arial, sans-serif;
	color: #ffdd00;
	color: #ffdd00;
	padding: 0 10px 0 21px;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #0175fe;
}
.sf-menu li li li a {
	font: 12px/26px Arial, sans-serif;
	color: #ffff33;
	background: #1b1b1c;
	padding: 0 10px 0 21px;
}
.sf-menu  li li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	color: #0175fe;
