/*======= index.html =======*/

#page1 .line-ver {background-position: 635px 0%;}
#page1 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page1 .col-2 {width: 314px; padding: 0 0 0 32px;}

#page1 .col-1 .block-1 {width: 301px; padding: 0 30px 0 0;}
#page1 .col-1 .block-2 {width: 263px;}

/*======= index-1.html =======*/

#page2 .line-ver {background-position: 635px 0%;}
#page2 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page2 .col-2 {width: 314px; padding: 0 0 0 32px;}

#page2 .col-1 .block-1 {width: 301px; padding: 0 30px 0 0;}
#page2 .col-1 .block-2 {width: 263px;}

/*======= index-2.html =======*/

#page3 .line-ver {background-position: 635px 0%;}
#page3 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page3 .col-2 {width: 314px; padding: 0 0 0 32px;}

/*======= index-3.html =======*/

#page4 .line-ver {background-position: 635px 0%;}
#page4 .col-1 {width: 594px; padding: 0 42px 7px 0;}
#page4 .col-2 {width: 314px; padding: 0 0 7px 32px;}

#page4 .col-1 .block-1 {width: 301px; padding: 0 30px 0 0;}
#page4 .col-1 .block-2 {width: 263px;}

/*======= index-4.html =======*/

#page5 .line-ver {background-position: 635px 0%;}
#page5 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page5 .col-2 {width: 314px; padding: 0 0 0 32px;}

/*======= index-5.html =======*/

#page6 .line-ver {background-position: 635px 0%;}
#page6 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page6 .col-2 {width: 314px; padding: 0 0 0 32px;}

#page6 .col-1 .block-1 {width: 301px; padding: 0 30px 0 0;}
#page6 .col-1 .block-2 {width: 263px;}

/*======= index-6.html =======*/

#page7 .line-ver {background-position: 635px 0%;}
#page7 .col-1 {width: 594px; padding: 0 42px 0 0;}
#page7 .col-2 {width: 314px; padding: 0 0 0 32px;}

#page7 .col-1 .block-1 {width: 301px; padding: 0 30px 0 0;}
#page7 .col-1 .block-2 {width: 263px;}